.gridcontainer {
  display: grid;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: fit-content(310px) 1fr;
  grid-template-areas: "image info";
}
.ffImage {
  grid-area: image;
}
.ffInfo {
  grid-area: info;
}

/* Listing */
.factItem {
  @apply cursor-pointer rounded-2xl px-3 py-2 hover:shadow-md duration-500;
  border: 1px solid #33333320;
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "info";
  }
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
